/* App.css */

.app-container {
  display: flex; /* flex для двух колонок */
  height: 100vh; /* растянуть на всю высоту окна */
}

.sidebar {
  width: 200px; /* узкая колонка */
  background-color: #404f68;
  padding: 20px;
  box-sizing: border-box;
}

.main-container {
  flex: 1; /* занимает всё оставшееся место */
  display: flex;
  flex-direction: column; /* header сверху, контент снизу */
}

.header {
  height: 60px; /* узкий header */
  background-color: rgba(251, 251, 251);
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 800;
}

.main-content {
  flex: 1; /* занимает всё оставшееся место */
  padding: 20px;
  overflow-y: auto; /* скролл, если контента много */
 
}
