.book-annotation {
/* background-color: #151e2d; */
background-color: #FFF;
padding: 10px;
border-radius: 5px;
margin-bottom: 20px;
position: relative;
display: inline-block;
}

.book-card-popup__label {
  margin: 0;
}

.book-card-popup__descr, .book-card-popup__noted, .book-card-popup__quotes {
  margin: 0;
}
.book-annotation__label{
  font-size: 14px;
  font-weight: 800;
  /* color: white; */
  color: #101828;
}

.book-annotation__descr{
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  /* color: white; */
  color: #101828;

}

.book-annotation:before { 
content: " ";
background: #D0D5DD;
width: calc(100% - 20px);
height: 1px;
bottom: 0;
position: absolute;
}