/* Оверлей на весь экран */
.book-card-popup {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* затемнение заднего фона с карточками */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  z-index: 99999;
  /* выше карточек */
  pointer-events: none;
  /* по умолчанию клики не проходят */
}

/* класс для открытия */
.book-card-popup_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  /* включаем обработку кликов только при открытом попапе */
}

/* Содержимое попапа */
.book-card-popup__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 90%;
  background-color: #FFF;
  border-radius: 16px;
  overflow: hidden;
  z-index: 100000;
  pointer-events: auto;
  /* max-height: calc(90vh - 48px); */
  height: 80vh; 
}

.book-card-popup__header-container {
  flex: 0 0 auto;
  background-color: #FFF;
  padding: 24px;
}

.book-card-popup__header {
  margin: 0;
  font-size: 20px;
  color: #101828;
}

.book-card-popup__text {
  margin: 15px 0 0 0;
  color: #101828;
  font-size: 13px;
  font-weight: 700;
}

.book-card-popup__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 12px 24px;
  align-items: flex-start;
  flex: 0 0 auto;
}

.book-card-popup__close {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #344054;
  z-index: 100001;
}

.book-card-popup__info {
  width: 100%;
}

.book-card-popup__img {
  width: 200px;
  height: auto;
}

.book-card-popup.popup_opened {
  visibility: visible;
  opacity: 1;
}

.book-card-popup__textareas {
  padding: 0px 24px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1 1 auto;
}

.book-card-popup__btns {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  background-color: #FFF;
  padding: 20px 24px;
}

.book-card-popup__btn {
  border-radius: 5px;
  background-color: #7F56D9;
  height: 35px;
  width: 250px;
  cursor: pointer;
  border: none;
  color: #FFF;
  font-weight: 700;
  transition: transform 0.3s ease;
}

.book-card-popup__btn.del {
  background-color: transparent;
  color: #101828;

}

.book-card-popup__btn.del:hover {
  background-color: tomato;
  color: #FFF;
}

.book-card-popup__btn.edit:hover {
  background-color: #9072d3;
}

.book-card-popup__label {
  margin: 0;
}

.book-card-popup__descr, .book-card-popup__noted, .book-card-popup__quotes {
  margin: 0;
}