.book-quotes{
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: #151e2d; */
  background-color: #FFF;
  padding: 10px;
  border-radius: 5px;
}
.book-quotes__label {
margin: 0;
font-size: 14px;
font-weight: 800;
color: #101828;
}

.book-quotes__text{
  margin: 12px 0;
  font-size: 12px;
  text-align: justify;
  color: #101828;
}


/* .book-quotes:before { 
  content: " ";
  background: #D0D5DD;
  width: calc(100% - 20px);
  height: 1px;
  bottom: 0;
  position: absolute;
  } */