.books-grid {
  display: grid;
  /* grid-template-columns: 233px 233px 233px; */
  grid-template-columns: repeat(5, 273px);
  /* grid-template-rows: 400px  400px  400px; */
  gap: 30px;
  justify-content: center;
  background-color: #c5c9d0;
  padding-top: 20px;
}

@media (max-width: 1590px) {
  .books-grid {
    grid-template-columns: repeat(4, 273px); /* Four columns */
  }
}

@media (max-width: 1330px) {
  .books-grid {
    grid-template-columns: repeat(3, 273px); /* Four columns */
  }
}

@media (max-width: 1090px) {
  .books-grid {
    grid-template-columns: repeat(2, 273px); /* Four columns */
  }
}

@media (max-width: 825px) {
  .books-grid {
    grid-template-columns: repeat(1, 273px); /* Four columns */
  }
}